@model BLData.BLModelInformation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BLModelInformation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lang)
            @Html.ValidationMessageFor(model => model.Lang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Definition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Definition)
            @Html.ValidationMessageFor(model => model.Definition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocalizedName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocalizedName)
            @Html.ValidationMessageFor(model => model.LocalizedName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocalizedDefinition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocalizedDefinition)
            @Html.ValidationMessageFor(model => model.LocalizedDefinition)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
