@model BLData.BLModelInformation

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>BLModelInformation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Definition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Definition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocalizedName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocalizedName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocalizedDefinition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocalizedDefinition)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
